In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/orbits.csv')

In [3]:
df.head()

,Object Name,Epoch (TDB),Orbit Axis (AU),Orbit Eccentricity,Orbit Inclination (deg),Perihelion Argument (deg),Node Longitude (deg),Mean Anomoly (deg),Perihelion Distance (AU),Aphelion Distance (AU),Orbital Period (yr),Minimum Orbit Intersection Distance (AU),Orbital Reference,Asteroid Magnitude,Classification,Hazardous
0,433 Eros,57800,1.4579,0.2226,10.8277,178.8050,304.3265,319.3111,1.1335,1.78,1.76,0.1492,598,11.16,Amor Asteroid,False
1,719 Albert,57800,2.6385,0.5479,11.5822,156.1409,183.9204,224.5535,1.1928,4.08,4.29,0.2004,78,15.50,Amor Asteroid,False
2,887 Alinda,57800,2.4787,0.5671,9.3561,350.3482,110.5444,351.3730,1.0731,3.88,3.90,0.0925,188,13.40,Amor Asteroid,False
3,1036 Ganymed,57800,2.6628,0.5338,26.6929,132.4690,215.5551,92.5640,1.2413,4.08,4.35,0.3421,597,9.45,Amor Asteroid,False
4,1221 Amor,57800,1.9191,0.4356,11.8795,26.6572,171.3448,313.7379,1.0832,2.76,2.66,0.1068,70,17.70,Amor Asteroid,False

In [4]:
df.shape

(15635, 16)

In [5]:
df.describe()

,Epoch (TDB),Orbit Axis (AU),Orbit Eccentricity,Orbit Inclination (deg),Perihelion Argument (deg),Node Longitude (deg),Mean Anomoly (deg),Perihelion Distance (AU),Aphelion Distance (AU),Orbital Period (yr),Minimum Orbit Intersection Distance (AU),Orbital Reference,Asteroid Magnitude
count,15635.000000,15635.000000,15635.000000,15635.000000,15635.00000,15635.000000,15635.000000,15635.000000,15635.000000,15635.000000,15635.000000,15635.000000,15634.000000
mean,57365.394947,1.781002,0.449694,12.941175,181.50956,172.672154,172.834863,0.914912,2.647087,2.473406,0.101884,21.885257,22.286336
std,1167.238040,0.603229,0.176000,11.303231,103.86248,103.384143,116.123065,0.240309,1.142659,1.517588,0.105937,33.632091,3.016002
min,44221.000000,0.547600,0.004400,0.014700,0.00810,0.007000,0.003100,0.070700,0.800000,0.410000,0.000000,1.000000,9.450000
25%,57800.000000,1.323600,0.322700,4.762450,92.43535,82.241950,62.040250,0.776750,1.740000,1.520000,0.018700,6.000000,19.900000
50%,57800.000000,1.735500,0.462900,9.197400,183.31780,172.173400,167.750200,0.965800,2.520000,2.290000,0.062000,11.000000,22.200000
75%,57800.000000,2.208650,0.572900,18.510900,270.91745,253.660050,281.443100,1.080300,3.420000,3.280000,0.159150,23.000000,24.600000
max,57800.000000,21.395400,0.969500,154.375100,359.99420,359.998100,359.998200,1.300000,41.540000,98.970000,0.706900,635.000000,33.200000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15635 entries, 0 to 15634
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Object Name                               15635 non-null  object
 1   Epoch (TDB)                               15635 non-null  int64
 2   Orbit Axis (AU)                           15635 non-null  float64
 3   Orbit Eccentricity                        15635 non-null  float64
 4   Orbit Inclination (deg)                   15635 non-null  float64
 5   Perihelion Argument (deg)                 15635 non-null  float64
 6   Node Longitude (deg)                      15635 non-null  float64
 7   Mean Anomoly (deg)                        15635 non-null  float64
 8   Perihelion Distance (AU)                  15635 non-null  float64
 9   Aphelion Distance (AU)                    15635 non-null  float64
 10  Orbital Period (yr)                       15635 non-null  float64
 11  Minimum Orbit Intersection Distance (AU)  15635 non-null  float64
 12  Orbital Reference                         15635 non-null  int64
 13  Asteroid Magnitude                        15634 non-null  float64
 14  Classification                            15635 non-null  object
 15  Hazardous                                 15635 non-null  bool
dtypes: bool(1), float64(11), int64(2), object(2)
memory usage: 1.8+ MB