In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/semiprocessed_data.csv')

In [7]:
df.head()

   Price  Year   Mileage  Make  Model
0   8995  2014  0.012506     1   1194
1  10888  2013  0.006863     1   1193
2   8995  2013  0.017102     1   1194
3  10999  2014  0.013976     1   1193
4  14799  2016  0.007751     1   1196

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

X = df.drop('Price', axis=1)
y = df['Price']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)


y_pred_lr = lr_model.predict(X_test)


mse_lr = mean_squared_error(y_test, y_pred_lr)
mae_lr = mean_absolute_error(y_test, y_pred_lr)
r2_lr = r2_score(y_test, y_pred_lr)

print("MSE:", mse_lr)
print("MAE:", mae_lr)
print("R2:",r2_lr)

MSE: 145983497.76789597
MAE: 7661.274870299753
R2: 0.20599193912569602

In [5]:
tm_model = DecisionTreeRegressor(random_state=42)
tm_model.fit(X_train, y_train)

y_pred_tm = tm_model.predict(X_test)

mse_tm = mean_squared_error(y_test, y_pred_tm)
mae_tm = mean_absolute_error(y_test, y_pred_tm)
r2_tm = r2_score(y_test, y_pred_tm)

print("MSE:", mse_tm)
print("MAE:", mae_tm)
print("R2 Score:", r2_tm)

MSE: 34658418.9380901
MAE: 3043.860891107971
R2 Score: 0.8114919533045053

In [6]:
import joblib


joblib.dump(tm_model, 'decision_tree_model.pkl')

['decision_tree_model.pkl']